# Ignore virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store

# Environment/config files
.env

# VSCode settings
.vscode/

# Node-related (if not needed)
node_modules/
package-lock.json
package.json

# Models and Pickle files
*.pkl

# Data files (optional – only keep if needed)
*.csv
